{% extends "base.html.twig" %}

{% block title %}Trajets{% endblock %}
{% block scripts %}
    <script src="/assets/scripts/script.js"></script>
{% endblock scripts %}
{% block content %}

    <div id="dark-background">
        <div id="createForm">
            <div id="formHeader">
                <div></div>
                <h2>Créer un nouveau trajet</h2>
                <div id="cross">
                    <div id="firstBar"></div>
                    <div id="secondBar"></div>
                </div>
            </div>
            <form action="" method="post" name="createForm">
                <div>
                    <label for="trajetType">Type de trajet: </label>
                    <select name="trajetType" id="trajetType">
                        <option value="1">Visite Culturelle</option>
                        <option value="2">Balade</option>
                        <option value="3">Jogging</option>
                        <option value="4">Randonnée</option>
                        <option value="5">Course à pied</option>
                    </select>
                </div>
                
                <div>
                    <label for="date">Date et heure: </label>
                    <input type="text" id="date" name="date" placeholder="YYYY-MM-DD HH:MM" required>
                </div>
                
                <div>
                    <label for="place">Lieu: </label>
                    <input type="text" id="place" name="place" placeholder="Ex: 6 Cité Paradis, 75010 Paris" required>
                </div>
                
                <div>
                    <label for="duration">Durée de l'activité: </label>
                    <input type="text" id="duration" name="duration" placeholder="Ex: 1h30" required>
                </div>
                
                <div>
                    <label for="description">Description: </label>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="Donnez plus de détails sur le parcours..."></textarea>
                </div>
                
                <div>
                    <label for="tags">Tags: </label>
                    <input type="text" id="tags" name="tags" placeholder="Ex: #Paris">
                </div>

                <input type="submit" value="Poster" id="postButton" name="postButton">
            </form>
        </div>
    </div>

    <div id="journeys-body">
        <div id="journeys-left-part">
            <div id="filter-part">
                <img src="/assets/images/filter.png" alt="filters">
                <h3>Filtre</h3>
            </div>
            <div id="filters">
                <form action="/journey/search" method="post" id="filter-form">
                    <div id="place">
                        <h4>Lieu précis</h4>
                        <label for="around">Autour de</label>
                        <input type="text" name="around">
                        <label for="date">Date le</label>
                        <input type="text" name="date">
                        <label for="start">Départ à</label>
                        <input type="text" name="start">
                    </div>
                    <hr>
                    <div id="activity-type">
                        <h4>Type d'activité</h4>
                        <label><input type="checkbox" name="activity[]" value="balade" id="balade"><p>Balade</p></label>
                        <label><input type="checkbox" name="activity[]" value="visite culturelle"><p>Visite culturelle</p></label>
                        <label><input type="checkbox" name="activity[]" value="jogging"><p>Jogging</p></label>
                        <label><input type="checkbox" name="activity[]" value="randonnee"><p>Randonnée</p></label>
                        <label><input type="checkbox" name="activity[]" value="course a pied"><p>Course à pied</p></label>
                        <p>+ de choix</p>
                    </div>
                    <hr>
                    <div id="vehicules">
                        <h4>En empruntant</h4>
                        <div id="vehicule-inputs">
                            <input type="checkbox" name="vehicule[]" value="train" id="train" hidden><label for="train"></label>
                            <input type="checkbox" name="vehicule[]" value="rer" hidden id="rer"><label for="rer"></label>
                            <input type="checkbox" name="vehicule[]" value="metro" hidden id="metro"><label for="metro"></label>
                            <input type="checkbox" name="vehicule[]" value="tram" hidden id="tram"><label for="tram"></label>
                            <input type="checkbox" name="vehicule[]" value="bus" hidden id="bus"><label for="bus"></label>
                            <input type="checkbox" name="vehicule[]" value="velo" hidden id="velo"><label for="velo"></label>
                        </div>
                    </div>

                    <input type="submit" value="Valider" id="filter-button">
                    <a href="/journey">Effacer les filtres</a>
                </form>
            </div>
        </div>

        <div id="journeys-right-part">
            <div id="top-part">
                <h1>Trajets</h1>
                <button id="popupButton">Créer</button>
            </div>

            <form action="/journey/search" method="post" id="globalSearch">
                <label for="globalSearchInput">
                    <img src="/assets/images/search.png" alt="Search icon">
                </label>
                <input type="text" name="globalSearch" id="globalSearchInput">
            </form>

            <h2>Récents</h2>

            <div id="journeys">
                {% if journeys|length > 0 %}
                    {% for journey in journeys %}
                        <div class="journey">
                            {% set break = false %}
                            {% set isFavorite = false %}
                            <img src="/assets/images/map-picture.png" alt="map" class="map">
                            <div class="right-part">
                                <div class="top-right-part">
                                    <div class="journey-details">
                                        <p>Point de départ:</p>
                                        <p class="data">
                                            {{ journey.place }}
                                        </p>
                                        <p>Date et heure de départ:</p>
                                        <p class="data">
                                            {{ journey.date }}
                                        </p>
                                        <p>Description:</p>
                                        <p class="data">
                                            {{ journey.description|slice(0, 150) }}
                                        </p>
                                    </div>
                                    <div class="side-buttons">
                                        {% for favoriteJourney in favoriteJourneys if not break %}
                                            {% if journey.id in favoriteJourney and session.user.id in favoriteJourney %}
                                                {% set break = true %}
                                                {% set isFavorite = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if isFavorite == true %}
                                            <a href="/journey/favorite/{{ journey.id }}"><img src="/assets/images/filled-heart.png" alt="favorite icon" class="filled-heart"></a>
                                        {% else %}
                                            <a href="/journey/favorite/{{ journey.id }}"><img src="/assets/images/empty-heart.png" alt="favorite icon" class="empty-heart"></a>
                                        {% endif %}

                                        <img src="/assets/images/information.png" alt="information icon">
                                    </div>
                                </div>
                                <a href="/journey/join/{{ journey.id }}" class="participateButton">Participer</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>Il n'y a aucun trajets qui correspondent à vos critères...</h3>
                {% endif %}

            </div>

            <button id="see-more">Voir plus</button>
        </div>
    </div>

    {% if newJourneyCreated == true %}
        <script>
            Swal.fire({
                position: 'top',
                title: 'Votre trajet a bien été enregistré',
                html: '<a href="">Voir mes trajets</a>',
                timer: 1000,
                showConfirmButton: false,
                background: '#F8FFE6',
                backdrop: 'none',
                customClass: 'swal-border',
            })
        </script>
    {% endif %}

{% endblock %}