{% extends "/base.html.twig" %}

{% block title %}Mon Compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}

{% block content %}

    <div id="account-body">
        <div id="left-column">
            <div id="picture-account">
                <img src="/assets/images/user-picture.png" alt="Picture of the user">
                <p id="user-name">{{ session.user.firstname }}</p>
            </div>
            <ul id="account-pages">
                <li>
                    <a href="">
                        <img src="/assets/images/mespas.png" alt="Icon of the page Mes Pas">
                        <h2>Mes pas</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/assets/images/mestrajets.png" alt="Icon of the page Mes Trajets">
                        <h2>Mes trajets</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/assets/images/mesabonnes.png" alt="Icon of the page Mes Abonnés">
                        <h2>Mes abonnés</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/assets/images/parametres.png" alt="Icon of the page Confidentialité">
                        <h2>Confidentialité</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/assets/images/parametres.png" alt="Icon of the page Paramètres">
                        <h2>Paramètres</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div id="middle-column">
            <div>
                <h2>Activité</h2>
                <img src="/assets/images/top-activity.png" alt="Days">
                <img src="/assets/images/activity.png" alt="Activities">
            </div>
            <div id="messages">
                <h2>Messages</h2>
                <ul>
                    <li>
                        <img src="/assets/images/coursedansparis.png" alt="Conversation profile picture">
                        <div class="conv-infos">
                            <p class="conversation-title">Course dans Paris</p>
                            <p class="conversation-details">
                                2 nouveaux messages &#9679; 2min
                            </p>
                        </div>
                        <div class="conversation-notif">🟢</div>
                    </li>
                    <li>
                        <img src="/assets/images/mathilde.png" alt="Conversation profile picture">
                        <div class="conv-infos">
                            <p class="conversation-title">Mathilde</p>
                            <p class="conversation-details">
                                Hey j'arrive dans 5... &#9679; 3min
                            </p>
                        </div>
                        <div class="conversation-notif">🟢</div>
                    </li>
                    <li>
                        <img src="/assets/images/marc.png" alt="Conversation profile picture">
                        <div class="conv-infos">
                            <p class="conversation-title">Marc</p>
                            <p class="conversation-details">
                                Oublie pas ton velo... &#9679; 10min
                            </p>
                        </div>
                        <div class="conversation-notif">🟢</div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="right-column">
            <div id="top-right-column">
                <div id="week-activity">
                    <h2>Activité de la semaine</h2>
                    <img src="/assets/images/week-activity.png" alt="Activity of the week">
                </div>
                <div id="map">
                    <img src="/assets/images/map-picture.png" alt="Map">
                    <div id="see-map">Voir la carte</div>
                </div>
            </div>
            <div id="bottom-right-column">
                <h2>Mes favoris</h2>
                <div id="favorites">
                    <input type="radio" name="favorites" id="trajets" checked>
                    <input type="radio" name="favorites" id="association">
                    <input type="radio" name="favorites" id="historique">
                    <ul>
                        <li><label for="trajets">Trajets</label></li>
                        <li><label for="association">Associations</label></li>
                        <li><label for="historique">Historique</label></li>
                    </ul>
                    <div id="trajets-content">
                        {% for journey in favoriteJourneys|slice(0, 4) %}
                            <div class="journey">
                                <img src="/assets/images/map-picture.png" alt="map" class="map">
                                <div class="right-part">
                                    <div class="top-right-part">
                                        <div class="journey-details">
                                            <p>Point de départ:</p>
                                            <p class="data">
                                                {{ journey.place|slice(0, 25) }}
                                            </p>
                                            <p>Date et heure de départ:</p>
                                            <p class="data">
                                                {{ journey.date }}
                                            </p>
                                            <p>Description:</p>
                                            <p class="data">
                                                {{ journey.description|slice(0, 25) }}
                                            </p>
                                        </div>
                                        <div class="side-buttons">
                                            <a href="/journey/unfav/{{ journey.id }}"><img src="/assets/images/filled-heart.png" alt="favorite icon" class="filled-heart"></a>

                                            <img src="/assets/images/information.png" alt="information icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="associations-content">
                        {% for association in favoriteAssociations|slice(0, 4) %}
                            <div class="association">
                                <img src="/assets/images/associations/logos/{{ association.logo }}.png" alt="Association logo" class="association-logo">
                                <div class="right-part">
                                    <div class="top-right-part">
                                        <div class="association-details">
                                            <p>Nom:</p>
                                            <p class="data">
                                                {{ association.name }}
                                            </p>
                                            <p>Résumé:</p>
                                            <p class="data">
                                                {{ association.firsttext|slice(0, 100) }}
                                            </p>
                                        </div>
                                        <div class="side-buttons">
                                            <a href="/association/unfav/{{ association.id }}"><img src="/assets/images/filled-heart.png" alt="favorite icon" class="filled-heart"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="historique-content">
                        <p>Vous n'avez pas encore d'historique, finissez des trajets et ils apparaitront ici.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}